Задание 1
Импортируйте библиотеку Pandas и дайте ей псевдоним pd.

In [4]:
import pandas as pd

Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные:
[1, 2, 3] и ['Тургенев', 'Чехов', 'Островский']

In [5]:
a = {
    "author_id": [1, 2, 3],
    "author_name": ["Тургенев", "Чехов", "Островский"]
}
authors = pd.DataFrame(a)

In [6]:
authors

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные: 
[1, 1, 1, 2, 2, 3, 3], 
['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
[450, 300, 350, 500, 450, 370, 290].

In [7]:
b = {
    "author_id": [1, 1, 1, 2, 2, 3, 3],
    "book_title": ["Отцы и дети", "Рудин", "Дворянское гнездо", "Толстый и тонкий", 
                   "Дама с собачкой", "Гроза", "Таланты и поклонники"],
    "price": ["450", "300", "350", "500", "450", "370", "290"]
}
book = pd.DataFrame(b)

In [8]:
book

   author_id            book_title price
0          1           Отцы и дети   450
1          1                 Рудин   300
2          1     Дворянское гнездо   350
3          2      Толстый и тонкий   500
4          2       Дама с собачкой   450
5          3                 Гроза   370
6          3  Таланты и поклонники   290

# Задание 2
Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [9]:
authors_price = pd.merge(authors, book, on='author_id', how='inner')

In [10]:
authors_price

   author_id author_name            book_title price
0          1    Тургенев           Отцы и дети   450
1          1    Тургенев                 Рудин   300
2          1    Тургенев     Дворянское гнездо   350
3          2       Чехов      Толстый и тонкий   500
4          2       Чехов       Дама с собачкой   450
5          3  Островский                 Гроза   370
6          3  Островский  Таланты и поклонники   290

# Задание 3
Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [11]:
top5 = authors_price.sort_values(by="price", ascending=False).head(5)

In [12]:
top5

   author_id author_name         book_title price
3          2       Чехов   Толстый и тонкий   500
0          1    Тургенев        Отцы и дети   450
4          2       Чехов    Дама с собачкой   450
5          3  Островский              Гроза   370
2          1    Тургенев  Дворянское гнездо   350

# Задание 4
Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора,минимальная, максимальная и средняя цена на книги этого автора.

Группируем по автору и находим минимальную цену, задаем индекс через сброс текущего индекса

In [13]:
min_price = authors_price.groupby("author_name").agg({"price": "min"})

In [14]:
min_price = min_price.reset_index()

In [15]:
min_price

  author_name price
0  Островский   290
1    Тургенев   300
2       Чехов   450

Переименовываем столбец price

In [16]:
min_price = min_price.rename(columns={'price': 'min_price'})
min_price

  author_name min_price
0  Островский       290
1    Тургенев       300
2       Чехов       450

Те же операции для максимальной цены

In [17]:
max_price = authors_price.groupby("author_name").agg({"price": "max"})
max_price = max_price.reset_index()
max_price = max_price.rename(columns={'price': 'max_price'})
max_price

  author_name max_price
0  Островский       370
1    Тургенев       450
2       Чехов       500

То же для средних цен. Все сделал по учебнику, проверил по разбору. Все одно выходит ошибка

In [18]:
mean_price = authors_price.groupby("author_name").agg({"price": "mean"})
mean_price = mean_price.reset_index()
mean_price = mean_price.rename(columns={'price': 'mean_price'})
mean_price

DataError: No numeric types to aggregate

НЕ СУМЕЛ ПРИДУМАТЬ КАК СПРАВИТЬСЯ СЭТОЙ ОШИБКОЙ. ПРОШУ ПОМОЧЬ РАЗОБРАТЬСЯ

# Задание 5**
Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая. В этот столбец поместите данные из следующего списка:
['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].
Просмотрите документацию по функции pd.pivot_table с помощью вопросительного знака.Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. Используйте для этого функцию pd.pivot_table. При этом столбцы должны называться "твердая" и "мягкая", а индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.
Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". Затем загрузите из этого файла датафрейм и назовите его book_info2. Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.